<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>LOGIN</title>
</head>
<body>
  {% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
    <div class="container">
                <div class="logo">
                    <h3 class="tag">Forgot Password!</h3>
                    <br/>
                    <p class="tag">Type your username to retrieve your password!</p>
                </div>
                <div class="box">
                  {% if error_message %}
	                   <p style="color: red">{{ error_message }}</p>
                  {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input name="username" class="fill" type="text" placeholder="Username">
                        <input id="forgotpass" type="submit" value="Send">
                        <p class="center" id="for-pass"><a href="{% url 'Login' %}">Login</a></p>
                        <div class="bar"></div>
                        <button><a href="{% url 'signup' %}">Create New Account</a></button>
                    </form>
                    

                </div>
    </div>
</body>
</html>